.container {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #ffffff;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.section {
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ffffff;
}

.section:last-child {
  border-bottom: none;
  margin-bottom: 0;
}


h2 {
  color: #be3636;
  font-size: 1.8rem;
  margin: 0 0 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

p {
  margin-bottom: 15px;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}


strong {
  color: #ffffff;
  font-weight: 700;
  margin: 2px;
  margin-left: 20px;
}


.dataList {
  margin-left: 20px;
  padding-left: 0;
}

.dataList p {
  margin-bottom: 10px;
  padding-left: 10px;
  position: relative;
  text-align: left;
}

.dataList p::before {
  content: "•";
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}


footer {
  margin-top: 40px;
  padding: 15px 0;
  font-size: 0.85rem;
  color: #ffffff;
  text-align: center;
  border-top: 1px dashed #ffffff;
}
