.container-filme {
  display: flex;
  flex-direction: column;
  border: solid 2px rgb(0, 0, 0);
  background-color: rgb(24, 23, 23);
  border-radius: 10px;
  width: 490px;
  transition: transform 0.3s ease;
  margin: 20px;
  text-decoration: none;
  opacity: 0.9;
  color: aliceblue;
}

.header-filme {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.subitem-header {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; /* remove margens que atrapalham */
}


/*
<span className='filme-titulo'>{filme.titulo}</span>
.filme-titulo {
  display: flex;
  justify-content: center;
  top: 4px;
  left: 12px;
  color: rgb(255, 255, 255);
  margin-left: 22px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
*/

.filme-comentarios {
  text-decoration: none;
  color: rgba(249, 252, 255, 0.432);
  font-size: 20px;
}

.filme-subtitulo {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  margin-left: 60px;
  font-size: 20px;
  margin-top: 5px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.item-opcional {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  font-size: 20px;
  justify-content: center;
}

.star {
  color: rgb(255, 251, 16);
}

.faixa {
  background-color: rgba(54, 51, 51, 0.824);
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;     
  width: 90%;        
  max-width: 360px;   
  border-radius: 20px;
  margin: 0 auto;       
}

.foto {
  display: flex;
  justify-content: center;
  width: 100%;        
  height: auto;        
  object-fit: contain; 
  border-radius: 5px 5px 0 0;
}



.container-filme:hover {
  opacity: 1;
  cursor: pointer;
  border-radius: 15px;
  color: aliceblue;
}

.introducao {
  padding: 28px;
  color: rgba(255, 255, 255, 0.551);
  font-size: 15px;
  text-align: start;
  line-height: 1.35;
  flex-grow: 0.01;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-filme {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.303);
  font-size: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.114);
}