.minhaLista{
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 100px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    padding: 20px;
    gap: 50px;
    font-weight: 500;
    margin-bottom: -80px;
}

.carrosel-container {
  position: relative;
  width: 100%;
  overflow: visible;
}

.carrosel {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

.carrosel::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* Botões */
.carrossel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* centralização dos ícones (setas) */
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255); /* cor da seta do ícone*/ 
  border: none;
  border-radius: 50%;
  font-size: 2rem; /*tamanho da seta do ícone*/ 
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.carrossel-button:hover {
  background-color: rgba(69, 69, 69, 0.027);
}

.carrossel-button.prev {
  left: 10px;
}

.carrossel-button.next {
  right: 10px;
}
