.Banner{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}      

.BannerImg{
    border-radius: 20px;
  
    width: 100%;
    height: 100%;


    /* Máscara horizontal */
  -webkit-mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent),
                      linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);

  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-composite: destination-in;

  mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent),
              linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);

  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  mask-composite: intersect; /* padrão do Firefox */
}      
